.filter{
    filter: invert(75%) sepia(51%) saturate(7253%) hue-rotate(158deg) brightness(90%) contrast(103%);
}

.newsletter-subscribe {
    color: #313437;
    background-color: #ffffff;
    padding: 55px 74px;
  }

.newsletter-subscribe form{
    justify-content: center;
}

.newsletter-subscribe form .form-control {
background: #eff1f4;
border: none;
border-radius: 3px;
box-shadow: none;
outline: none;
color: inherit;
text-indent: 9px;
height: 45px;
margin-right: 10px;
min-width: 250px;
}
